@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ////////////////////////////////
              Ogólne
//////////////////////////////// */

html, body { 
    scroll-behavior: smooth
  }

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 400px;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #513939;
    font-weight: normal;
    line-height: 20px;
}


/* ////////////////////////////////
            Menu
//////////////////////////////// */

nav{
    height: 120px;
    width: 100%;
    background-color: #F5E9DC;
}

.nav-container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-template-rows: 100%;
}

/* ////////////////////////////////
        Lewa częsc Menu
//////////////////////////////// */

.nav-container .left-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-container .center-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-container .center-nav .nav-list{
    height: 100%;
}

.nav-container .center-nav .ul{
    height: 100%;
}

.nav-container .left-nav .nav-image{
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: none;
    background-image: url(../images/logo.png)
}

.nav-container .center-nav .nav-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    
}

.nav-container .center-nav .nav-list ul li a{
    font-size: 16px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    height: 50%;
    position: relative;
}

.nav-container .center-nav .nav-list ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #A88E87;
    transition: width .3s;
    left: 0;
    top: 25px;
}
.nav-container .center-nav .nav-list ul li a:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-container .center-nav .nav-list ul li+li{
    margin-left: 3rem;
}


/* ////////////////////////////////
        Prawa częsc Menu
//////////////////////////////// */

.nav-container .right-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-container .right-nav a{
    background-color: transparent;
    border: 1px solid #A89887;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    padding: 1.5rem 4rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
    outline: none;
}

.nav-container .right-nav a:hover{
    background-color: #000;
    border: 2px solid #000;
    color: #F5E9DC;
    border-radius: 15px;
}


.nav-container .right-nav-authorized{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}

.nav-container .right-nav-authorized #user-panel-button{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: none;
    background-image: url(../images/User.svg);
    color: #000;
}

.nav-container .right-nav-authorized #messages-button{
    width: 36px;
    height: 28px;
    background-size: cover;
    background-repeat: none;
    background-image: url(../images/Message_button.svg);
}

.nav-container .right-nav-authorized #log_out{
    width: 34px;
    height: 28px;
    background-size: cover;
    background-repeat: none;
    background-image: url(../images/log-out.svg);
}


main{
    width: 100%;
    background-color: #FFFFFF;
    padding: 4rem 0;
}

.main-container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 2rem 6rem 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 4rem;
}
.category-path p{
    font-size: 12;
    font-weight: normal;
    color: #A89887;
    text-align: left;
    text-transform: capitalize;
}

.base-title{
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.base-book-info{
    display: grid;
    grid-template-columns: 300px 1fr;
}

.base-book-info .base-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 260px;
    height: 400px;
}

.base-book-info .base-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1rem;
    height: 100%;
    width: 100%;
}


.base-book-info .base-info-wrapper .base-title h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    color: #000;
}

.base-book-info .base-info-wrapper .base-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin-top: 5rem;
}



.base-book-info .base-info-wrapper .base-info .info-box-style{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}


.base-book-info .base-info-wrapper .base-info .icon-box-style{
    width: 45px;
    height: 45px;
    border: 1px solid #F5E9DC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-book-info .base-info-wrapper .base-info .name-box-style p{
    font-size: 14px;
    line-height: 20px;
    color: #A89887;
}

.base-book-info .base-info-wrapper .base-info .publisher-icon img{
    width: 19px;
    height: 23px;
}

.base-book-info .base-info-wrapper .base-info .date-icon img{
    width: 23px;
    height: 23px;
}


.base-book-info .base-info-wrapper .base-info .isbn-icon img{
    width: 23px;
    height: 23px;
}

.base-book-info .base-info-wrapper .base-info .authors-icon img{
    width: 24.5px;
    height: 24.5px;
}
.break{
    width: 100%;
    height: 1px;
    color: #A89887;
    border: 1px solid #A89887;
}
.base-book-info  .break{
    width: 90%;
    height: 1px;
    color: #A89887;
    border: 1px solid #A89887;
}


.base-text p{
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #A89887;
    max-width: 80%;
    width: 100%;
}

.base-price-info{
    width: 260px;
    height: auto;
    background-color: transparent;
    border: 1px solid #A89887;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    transition: all 0.5s ease-in-out;
}

.base-price-info:hover{
    background-color: #A89887;
    border: 1px solid #A89887;
    color: #fff;
    border-radius: 10px;
  }

.base-price-info a{
    width: 100%;
    height: 100%;
    color: #A89887;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.base-price-info a:hover{
    color: #fff
}

.base-price-info p{
    text-align: center;
    font-size: 16px;
    color: #A89887;
    line-height: 21px;
    transition: all 0.5s ease-in-out;
}

.base-price-info p:hover{
    color: #fff;
}

.base-price-info p b{
    font-size: 16px;
}

.base-price-info button{
    background-color: #F5E9DC;
    border: 1px solid #F5E9DC;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 24px;
    overflow: hidden;
    padding: 1rem 3rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
    outline: none;
}

.base-price-info button:hover{
    background-color: transparent;
    color: #A88E87;
    border-radius: 5px;
}
.no_exists{
    font-size:64px;
    text-align: center;    
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 6rem 0;
    max-width: 1140px;
    margin: 0 auto;
}

section .user_offer_box{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    row-gap: 2rem;
}

section .user_offer_box_image{
    /* background-image: url(../images/matm3podr.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 300px;
    
}

section .user_offer_box_content{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content:center;
    align-items:center;
    width: 100%;
}

section .user_offer_box_content a p{
    font-size: 16px;
    font-weight: 400;
    color: #A89887;
}

section .user_offer_box_content_price{
    font-size: 18px;
    font-weight: bold;
    color: #A89887;
}

section .user_offer_box_content_button{
    background-color: transparent;
    border: 1px solid #A89887;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    padding: 1rem 3rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 80%;
    transition: all 0.5s ease-in-out;
}

section .user_offer_box_content_button:hover{
    background-color: #A89887;
    border: 1px solid #A89887;
    color: #fff;
    border-radius: 10px;
}
.modal-box{
    visibility:hidden;
    display: flex;
    position: fixed; 
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%; 
    height: 0%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.offer-image{
    max-width:512px;
    width:92%;
    margin: 0 auto;
}
.close-modal-box{
    position: absolute;
    right: 0;
    top: 0;
    color: #A89887;
    font-size:32px;
    padding:8px 16px;
    cursor: pointer;
}

.popup-order-box{
    width: 350px;
    height: 120px;
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5E9DC;
    border: 1px solid #A89887;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    visibility: hidden;

}

.popup-order-box-alert{
    font-size: 16px;
    color: #A89887;
}

footer{
    height: 170px;
    width: 100%;
    background-color: #F5E9DC;
}

.footer-container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    grid-template-rows: 100%;
}

.footer-container .logo-footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-container .logo-footer .footer-image{
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: none;
    background-image: url(../images/logo.png)
}

.footer-container .logo-footer .break{
    width: 1px;
    height: 75px;
    color: #000;
    margin-left: 3rem;
    border: 1px solid #000;
}

.footer-container .footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 75px;
    margin-left: 3rem;
}

.footer-container .footer-nav .nav-list{
    margin-bottom: 3rem;
}

.footer-container .footer-nav .nav-list ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

.footer-container .footer-nav .nav-list ul li a{
    font-size: 16px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    height: 50%;
    position: relative;
}

.footer-container .footer-nav .nav-list ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #A88E87;
    transition: width .3s;
    left: 0;
    top: 25px;
}
.footer-container .footer-nav .nav-list ul li a:hover::after {
    width: 100%;
    transition: width .3s;
}

.footer-container .footer-nav .nav-list ul li+li{
    margin-left: 3rem;
}

.footer-container .footer-nav .copyright p{
    font-size: 12px;
    color: #000;
    font-weight: bold;
    line-height: 18px;
}


.footer-container .social-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 75px;
}

.footer-container .social-box-responsive{
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    height: 75px;
}


.footer-container .social-box .socials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    max-width: 100%;
}

.footer-container .social-box .socials span{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container .social-box .socials .mail::before{
    content: url(../images/mail.svg);
    width: 20px;
    height: 16px;
    margin-right: 1rem;
}

.footer-container .social-box .socials .location::before{
    content: url(../images/map-pin.svg);
    width: 18px;
    height: 22px;
    margin-right: 1rem;
}



@media only screen and (max-width: 1144px) {
    section{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 6rem 3rem;
    }
    .base-book-info .base-info-wrapper .base-info {
        width: 90%;
      }
    
}

@media only screen and (max-width: 880px) {
    
    .base-book-info .base-info-wrapper .base-title h2{
        font-size: 32px;
        font-weight: bold;
        line-height: 50px;
        color: #000;
        text-align: center;
    }

    .base-text p {
        text-align: center;
        max-width: 100%;
      }

    .base-book-info .base-info-wrapper .base-info .icon-box-style{
        width: 35px;
        height: 35px;
        border: 1px solid #F5E9DC;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .base-book-info .base-info-wrapper .base-info .name-box-style p{
        font-size: 12px;
        line-height: 20px;
        color: #A89887;
    }
    
    .base-book-info .base-info-wrapper .base-info .publisher-icon img{
        width: 16px;
        height: 20px;
    }
    
    .base-book-info .base-info-wrapper .base-info .date-icon img{
        width: 20px;
        height: 20px;
    }
    
    
    .base-book-info .base-info-wrapper .base-info .isbn-icon img{
        width: 20px;
        height: 20px;
    }
    
    .base-book-info .base-info-wrapper .base-info .authors-icon img{
        width: 21.5px;
        height: 21.5px;
    }

}

@media only screen and (max-width: 850px) {

    .nav-container{
        grid-template-columns: 1fr 2fr 2fr;
    }
    .nav-container .right-nav-authorized{
        gap: 2.5rem;
    }
    .nav-container .right-nav-authorized #user-panel-button{
        width: 24px;
        height: 24px;
    }
    
    .nav-container .right-nav-authorized #messages-button{
        width: 30px;
        height: 24px;
    }
    
    .nav-container .right-nav-authorized #log_out{
        width: 28px;
        height: 22px;
    }

    .base-book-info .base-info-wrapper .base-info{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        align-items: center;
    }
    .base-text p {
        font-size: 12px;
      }

    .base-book-info .base-info-wrapper .base-info {
        margin-top: 1rem;
      }
    .base-book-info .break {
        width: 100%;
      }

      .base-book-info .base-info-wrapper .base-info .info-box-style{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        width: 60%;
        align-self: center;
}
}


@media only screen and (max-width: 800px) {

    .nav-container .right-nav a{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        overflow: hidden;
        padding: 0.5rem 3rem;
    }
    
    .footer-container .footer-nav .nav-list ul li a{
        font-size: 14px;
        color: #000;
        font-weight: normal;
        line-height: 18px;
    }
    
    .footer-container .footer-nav{
        margin-left: 2rem;
    }

    .footer-container .footer-nav .nav-list ul li+li{
        margin-left: 2rem;
    }

}

@media only screen and (max-width: 750px) {
section{
    grid-template-columns: 1fr 1fr;
}
.base-book-info .base-info-wrapper .base-title h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 700px) {

.footer-container .logo-footer .footer-image{
        width: 50px;
        height: 50px;
        background-size: cover;
        background-repeat: none;
        background-image: url(../images/logo.png)
    }
    
.footer-container .footer-nav{
        margin-left: 1rem;
    }
    }


@media only screen and (max-width: 660px) {
    .base-info {
        margin-top: 1rem;
}
    .base-book-info {
        display: flex;
        flex-direction: column;   
        row-gap: 2rem;
        align-items: center;;     
      }
      .base-book-info .base-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
        height: 100%;
        width: 100%;
      }
      .base-book-info .base-info-wrapper .base-info {
        display: flex;
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        row-gap: 1rem;
        margin-top: 1rem;
        /* justify-items: center; */
      }
      .base-price-info {
        width: 260px;
        height: auto;
        background-color: transparent;
        border: 1px solid #A89887;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: flex-start;
        margin-top: 2rem;
        padding: 1rem 0rem 1rem 0rem;
        transition: all 0.5s;
      }
      
    .nav-container .right-nav a{
        font-size: 12px;
        padding: 0.2rem 1rem;
    }

}



@media only screen and (max-width: 550px) {

    .nav-container .center-nav .nav-list ul li a{
        font-size: 12px;
        color: #000;
        font-weight: normal;
        line-height: 20px;
    }

    .nav-container .left-nav .nav-image{
        width: 50px;
        height: 50px;
    }
    section{
        grid-template-columns: 1fr;
            grid-template-columns: 1fr;
            padding: 6rem 6rem;
    }
    .nav-container .center-nav .nav-list ul li + li {
        margin-left: 1rem;
      }

      .footer-container{
        grid-template-columns: 120px 1fr;
    }

    .footer-container .logo-footer .break{
        width: 1px;
        height: 120px;
        color: #000;
        margin-left: 3rem;
        border: 1px solid #000;
    }

    .footer-container .footer-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 120px;
        margin-left: 1rem;
    }

    .footer-container .footer-nav .footer-nav-responsive{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        max-width: 100%;
    }

    .footer-container .footer-nav .footer-nav-responsive .copyright p{
        font-size: 8px;
    }
    
    .footer-container .footer-nav .nav-list{
        margin-bottom: 0;
    }

    .footer-container .footer-nav .nav-list ul li a{
        font-size: 12px;
        color: #000;
        font-weight: normal;
        line-height: 20px;
    }

    .footer-container .social-box-responsive{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 75px;
    }
    
    .footer-container .social-box{
        display: none;
    }
    
    .footer-container .social-box-responsive .socials{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        max-width: 100%;
    }
    
    .footer-container .social-box-responsive .socials span{
        font-size: 10px;
        font-weight: bold;
        color: #000;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-container .social-box-responsive .socials .mail::before{
        content: url(../images/mail.svg);
        width: 20px;
        height: 16px;
        margin-right: 1rem;
    }
    
    .footer-container .social-box-responsive .socials .location::before{
        content: url(../images/map-pin.svg);
        width: 18px;
        height: 22px;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    section{
        padding: 6rem 3rem;
    }
    .popup-order-box{
        width: 250px;
        height: 120px;
    }
}